* {
  margin: 0px;
  padding: 0px;
}

/* Estilos basicos para un contenedor */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: sans-serif;
  height: 100vh;
}

/* Estilos para el contenedor con el bloque de lego */
.container--first {
  background-color: #ffba08;
}

/* Estilos basicos para el bloque de lego */
.lego_brick {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lego_brick--8 {
  width: 200px;
  height: 80px;
}

.lego_brick--1 {
  width: 50px;
  height: 40px;
}

.lego_brick--8 .lego_brick_pins {
  grid-template-columns: 30px 30px 30px 30px;
}

.lego_brick--1 .lego_brick_pins {
  grid-template-columns: 30px;
}

.lego_brick--red {
  background: #dc2f02;
}

.lego_brick--blue {
  background: #028cdc;
}

.lego_brick--green {
  background: #70c80c;
}

.lego_brick--orange {
  background: #e26613;
}

.lego_brick_pins {
  /* height: 100%; */
  display: grid;
  column-gap: 20px;
  row-gap: 5px;
}

.lego_brick_pin {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5), -0.5px -0.5px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lego_brick_pin::before {
  height: 10px;
  width: 10px;
  display: block;
  content: "LEGO";
  transform: rotate(-45deg) translateX(-5.5px) translateY(2px);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}
.bricks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos para la cabeza */
.lego_figure {
  height: 250px;
  width: 300px;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffba08;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5),
    -2px -2px 4px rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 1s box-shadow, 0.8s transform;

  /* align-items: center; */
}
.lego_figure:active {
  transform: rotate(360deg);
}
.lego_figure:hover {
  box-shadow: none;
  cursor: pointer;
}

.lego_figure:hover .eye_right::after {
  transform: translateY(30px);
}

.lego_figure::after {
  content: "";
  display: block;
  background-color: #ffba08;
  z-index: inherit;
  margin-top: -54px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px 5px 0 0;
  width: 100px;
  height: 50px;
}

.eye {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  top: 70px;
}

.eye_left {
  left: 80px;
}

.eye_right {
  right: 80px;
}

.eye_right::after {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  /* margin-right: 100px; */
  border-radius: 50px;
  background-color: #ffba08;
  transition: 0.2s all;
}

.fall-1 {
  animation: brick-fall 2s infinite linear;
}
.fall-2 {
  left: 200px;
  animation: brick-fall 5s infinite linear;
}
.fall-3 {
  left: 500px;
  animation: brick-fall 3s infinite linear;
}
.fall-4 {
  left: 700px;
  animation: brick-fall 4s infinite linear;
}
.fall-5 {
  left: 900px;
  animation: brick-fall 2s infinite linear;
}
.fall-6 {
  left: 1200px;
  animation: brick-fall 3s infinite linear;
}
.fall-7 {
  left: 300px;
  animation: brick-fall 3s infinite linear;
}
.fall-8 {
  left: 600px;
  animation: brick-fall 1.5s infinite linear;
}
.fall-9 {
  left: 500px;
  animation: brick-fall 3s infinite linear;
}
.fall-10 {
  left: 800px;
  animation: brick-fall 2.6s infinite linear;
}
.fall-11 {
  left: 1000px;
  animation: brick-fall 1.3s infinite linear;
}
.fall-12 {
  left: 1200px;
  animation: brick-fall 2s infinite linear;
}

@keyframes brick-fall {
  0% {
    transform: translateY(-20vh);
  }
  100% {
    transform: translateY(120vh) rotate(250deg);
  }
}
